<h1>Element Nutrition</h1>

<p>
  Thanks for signing up to updates from <strong>Element Nutrition</strong>.
</p>

<p>
  We're running a referral program, just get your friends to sign up using the
  following link:
  <a href="<%= @referral_url %>"><%= @referral_url %></a>
</p>